<div class="jumbotron" id="bg-home-page">
  <div class="container" id="tagline">
    <h1>From my kitchen to yours</h1>
    <p>A space where we share recipes with the world.</p>
    <p><%= link_to "Sign up", signup_path, class: "btn btn-danger btn-lg" %> <%= link_to "View all recipes", recipes_path, class: "btn btn-primary btn-lg" %></p>
  </div>
</div>
