<div class="jumbotron" id="bg-home-page">
  <div class="container" id="tagline">
    <h1>From my kitchen to yours</h1>
    <p>A space where we share recipes with the world.</p>
    <p><%= link_to "Share the joy", "#", class: "btn btn-danger btn-lg" %></p>
  </div>
</div>
